

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family:  "Hind Madurai", "Fraunces", "Barlow", "Arial" , sans-serif;
}
* ::after, *::before{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
