.choose{
    max-width: 1280px;
    height: 577px;
    background-color: #2C343E;
    border-radius: 10px;

    &__us{
        margin:  0 auto;
        text-align: center; 

            &--heading{
            font-family:"Hind Madurai" , "Fraunces" , "Arial"  ;
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
            margin: 0;
            padding: 0;
            margin-bottom: 32px;
            padding-top: 100px;
                }


        &--padding{
            font-family: "Barlow" , "Arial" , sans-serif  ;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 528px;
            height: 80px;
            margin: 0 auto;
            margin-bottom: 86px;
        }
    }

    &__box{
        max-width: 1110px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__box--coffee{
        width: 350px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
    }

    &__box--surip{
        width: 350px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
    }

    &__box--speed{
        width: 350px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
    }

    &__box--coffee--heading{
        font-family:"Hind Madurai" , "Fraunces" , "Arial"  ;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;

        &::before{
            background-image: url(./../image/coffee.png);
            content: "";
            display: block; 
            width: 72px;
            height: 72px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 83px;
            margin-left: 136px;
            margin-bottom: 57px;
        }
    }

    &__box--surip--heading{
        font-family:"Hind Madurai" , "Fraunces" , "Arial"  ;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;

        &::before{
            background-image: url(./../image/surip.png);
            content: "";
            display: block; 
            width: 72px;
            height: 72px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 83px;
            margin-left: 136px;
            margin-bottom: 57px;
        }
    }

    &__box--speed--heading{
        font-family:"Hind Madurai" , "Fraunces" , "Arial"  ;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;

        &::before{
            background-image: url(./../image/speed.png);
            content: "";
            display: block; 
            width: 72px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 103px;
            margin-left: 136px;
            margin-bottom: 57px; 
        }
    }

    &__box--coffee--padding{
        font-family:"Hind Madurai" , "Barlow" , "Arial"  ;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        width: 255px;
        height: 78px;
        margin-left: 47px;
    }
    &__box--surip--padding{
        font-family:"Hind Madurai" , "Barlow" , "Arial"  ;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        width: 255px;
        height: 78px;
        margin-left: 47px;
    }
    &__box--speed--padding{
        font-family:"Hind Madurai" , "Barlow" , "Arial"  ;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        width: 255px;
        height: 78px;
        margin-left: 47px;
    }




}
@media only screen and (max-width: 768px){
    .choose{
        max-width: 688px;
        margin: 0 auto;
        height: 677px;
        background-color: #2C343E;
        border-radius: 10px;
        margin-bottom: 144px;
        position: relative;
        top: -344px;
        &__us{
            max-width: 540px;

            &--heading{
                font-size: 32px;
                line-height: 48px;
            }
            &--padding{
                font-size: 15px;
                line-height: 25px;
            }
        }
        &__box{
            position: relative;
            margin-bottom: 20px;
            max-width: 688px;
            display: flex;
            flex-direction: column;
            max-height: 180px;


            &--coffee{
                width: 573px;
                display: flex;
                margin: 0 auto; 
                justify-content:left;
                margin-bottom: 24px;
                &--right{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                }
                &--heading{
                    display: flex;
                    justify-content: left;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 16px;
                    margin-top: 41px;
                    margin-left: 181px;
                    &::before{
                        position: absolute;
                        right: 500px;
                        margin-top: 10px;
                        // left: 20px;
                    }
                }
                &--padding{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    text-align: left;
                    margin-bottom: 41px;
                    margin-left: 181px;
                    width: 344px;
                }
            }
            &--surip{
                width: 573px;
                display: flex;
                margin: 0 auto; 
                justify-content:left;
                margin-bottom: 24px;
                &--right{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
    
                }
                &--heading{
                    display: flex;
                    justify-content: left;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 16px;
                    margin-top: 41px;
                    margin-left: 181px;
                    &::before{
                        position: absolute;
                        right: 500px;
                        margin-top: 10px;
                        // left: 20px;
                    }
                }
                &--padding{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    text-align: left;
                    margin-bottom: 41px;
                    margin-left: 181px;
                    width: 344px;
                }
            }
            &--speed{
                width: 573px;
                display: flex;
                margin: 0 auto; 
                justify-content:left;
                margin-bottom: 24px;
                &--right{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
    
                }
                &--heading{
                    display: flex;
                    justify-content: left;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 16px;
                    margin-top: 41px;
                    margin-left: 181px;
                    &::before{
                        position: absolute;
                        right: 500px;
                        margin-top: 10px;
                        // left: 20px;
                    }
                }
                &--padding{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    text-align: left;
                    margin-bottom: 41px;
                    margin-left: 181px;
                    width: 344px;
                }
            }
        }
     

    }
}