.header{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 51px;

    
    &__image{
        margin-top: 10px;
    }
    
    &__item{
        display: flex;
    list-style-type: none;

    }

    
  

    &__item--list{
        margin-left: 32px;
    }

    &__item--list--atribut{
        text-decoration: none;
        font-family:"Hind Madurai" , "Barlow" , "Arial"  ;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;


        &:active{
            font-family: "Hind Madurai" , "Barlow" , "Arial"  ;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #333D4B;
        }
    }
   }

//    responsive table 768px start

   @media only screen and (max-width: 768px) {
    .header{
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
        margin-bottom: 58px;
        padding: 0 25px;
        &__atribut{
            margin: auto 0;
        }
        &__item{
            margin: auto 0;
            &--list{
                margin-left: 32px;
                &--atribut{
                    font-family: "Barlow" , "Arial" , sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.923077px;
                    text-transform: uppercase;
                    color: #83888F;
                }
            }
        }
    }
   }//    responsive table 768px end
